<div
  class="fw-input"
  [class.fw-small]="size === 'small'"
  [class.fw-large]="size === 'large'"
  [class.fw-invalid]="invalid"
  [attr.data-disabled]="disabled ? 'true' : null"
>
  <input
    [type]="type === 'password' && !showPassword ? 'password' : 'text'"
    [placeholder]="placeholder"
    [disabled]="disabled"
    [attr.aria-invalid]="invalid"
    [attr.aria-required]="required ? 'true' : null"
    [value]="value"
    (input)="onInput($event)"
    (blur)="onTouched()"
  />

    @if (type === 'password') {
        <button type="button" class="fw-input-after" (click)="togglePassword()">
          {{ showPassword ? '🙈' : '👁' }}
        </button>

        @if (allowGenerate) {
          <button type="button" class="fw-input-after" (click)="generatePassword()">
            🔑
          </button>
        }
      }
</div>

@if (type === 'password' && getPasswordStrength()) {
  <div class="fw-password-strength">
    Strength:
    <span [ngClass]="getPasswordStrength()">{{ getPasswordStrength() }}</span>
  </div>
}
