<div class="campaign-container">
  <app-burger-menu></app-burger-menu>

  <div class="create-form">
    <div class="header">
      <h2>{{ editMode ? "Edit Campaign" : "Create Campaign" }}</h2>
      <img class="admin-photo" src="/assets/admin.png" alt="Admin" />
    </div>
    <form [formGroup]="form" (ngSubmit)="submitForm()">
      <div class="photo-divide">
        <app-fui-input
          class="campaign-title"
          size="large"
          formControlName="title"
          placeholder="Campaign Title"
        ></app-fui-input>

        <div class="two-inputs">
          <textarea
            class="description-box"
            formControlName="description"
            placeholder="Campaign Description"
          ></textarea>
        </div>

        <div class="add-candidates row">
          <h2>Candidates</h2>
          <app-button
            size="large"
            shape="circular"
            appearance="primary"
            (click)="openDialog()"
            >Add</app-button
          >
        </div>

        <div class="candidates-list">
          @for (c of candidates.controls; let i = $index; track i) {
          <app-campaign-card
            [id]="i"
            [title]="c.value.name"
            [description]="c.value.bio"
            [image]="c.value.photo"
            size="small"
            (edit)="openDialog($event)"
          >
          </app-campaign-card>
          }
        </div>

        @if (showDialog) {
        <div class="dialog-backdrop" (click)="closeDialogOnBackdrop($event)">
          <div class="dialog-content" (click)="$event.stopPropagation()">
            <h3>
              {{ editIndex !== null ? "Edit Candidate" : "Add Candidate" }}
            </h3>

            <div class="candidate-form">
              <div class="candidate-form-divided">
                <div class="candidate-photo-upload">
                  <input
                    type="file"
                    accept="image/*"
                    (change)="onCandidatePhotoSelected($event)"
                    hidden
                    #candidateFile
                  />
                  <button
                    type="button"
                    class="choose-photo-btn"
                    (click)="candidateFile.click()"
                  >
                    @if (candidatePhotoPreview) {
                    <img
                      class="candidate-photo"
                      [src]="candidatePhotoPreview"
                      alt="Candidate Photo"
                    />
                    } @else {
                    <span class="material-symbols-outlined"
                      >add_photo_alternate</span
                    >
                    <h2>Add Photo</h2>
                    }
                  </button>
                </div>

                <div class="candidate-details">
                  <label for="name">Enter your name:</label>
                  <app-fui-input
                    [formControl]="nameControl"
                    placeholder="Name"
                  ></app-fui-input>

                  <label for="bio">Enter your bio:</label>
                  <textarea
                    class="bio-box"
                    [formControl]="bioControl"
                    placeholder="Bio"
                  ></textarea>
                  <label for="properties">Enter your properties:</label>
                  <div class="properties">
                    <div class="row">
                      <app-fui-input
                        [formControl]="propertyControl"
                        placeholder="Property"
                      ></app-fui-input>
                      <app-button appearance="primary" (click)="addProperty()">
                        Add
                      </app-button>
                    </div>

                    <ul class="properties-list">
                      @for (p of candidateProperties; let j = $index; track j) {
                      <li>
                        <span class="prop-text">{{ p }}</span>
                        <span class="remove-prop" (click)="removeProperty(j)"
                          >✕</span
                        >
                      </li>
                      }
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="dialog-actions">
              <app-button appearance="secondary" (click)="closeDialog()"
                >Cancel</app-button
              >
              <app-button appearance="primary" (click)="saveCandidate()"
                >Save</app-button
              >
            </div>
          </div>
        </div>
        }

        <div class="row dates">
          <div class="start-date">
            <label>Start Date:</label>
            <input type="date" formControlName="startDate" />
          </div>
          <div class="end-date">
            <label>End Date:</label>
            <input type="date" formControlName="endDate" />
          </div>
        </div>

        <app-button size="large" type="submit" appearance="primary">
          {{ editMode ? "Update Campaign" : "Create Campaign" }}
        </app-button>
      </div>
      <div class="row add-banner">
        <input
          type="file"
          accept="image/*"
          (change)="onLogoSelected($event)"
          hidden
          #logoInput
        />
        <button class="image-upload" type="button" (click)="logoInput.click()">
          @if (logoPreview) {
          <div class="logo-preview">
            <img [src]="logoPreview" alt="Campaign Logo" />
          </div>
          } @else {
          <span class="material-symbols-outlined">add_photo_alternate</span>
          <p>Add banner photo</p>
          }
        </button>
      </div>
    </form>
  </div>
</div>
