@if (!isOpen) {
<div class="burger-icon" (click)="toggleMenu()">
  <span></span>
  <span></span>
  <span></span>
</div>
} @if (isOpen) {
<div class="sidebar" [class.open]="isOpen">
  <div class="sidebar-header">
    <button class="close-btn" (click)="closeMenu()">&#10005;</button>
    <div class="masked-svg"></div>
  </div>

  <nav>
    <ul>
      <li routerLink="/menu" routerLinkActive="active" (click)="closeMenu()">
        <span class="material-symbols-outlined">grouped_bar_chart</span>
        Statistics
      </li>
      <li
        routerLink="/campaign-status"
        routerLinkActive="active"
        (click)="closeMenu()"
      >
        <span class="material-symbols-outlined">apps</span>
        Campaigns
      </li>
      <li
        routerLink="/create-campaign"
        routerLinkActive="active"
        (click)="closeMenu()"
      >
        <span class="material-symbols-outlined">add_circle</span>
        Create Campaign
      </li>
      <li
        routerLink="/notifications"
        routerLinkActive="active"
        (click)="closeMenu()"
      >
        <span class="material-symbols-outlined">notifications</span>
        Notifications
      </li>
      <li routerLink="/reports" routerLinkActive="active" (click)="closeMenu()">
        <span class="material-symbols-outlined">report</span> Reports
      </li>

      @if (role === 'admin') {
      <li
        routerLink="/user-management"
        routerLinkActive="active"
        (click)="closeMenu()"
      >
        <span class="material-symbols-outlined">manage_accounts</span>
        User Management
      </li>
      <li
        routerLink="/moderator-management"
        routerLinkActive="active"
        (click)="closeMenu()"
      >
        <span class="material-symbols-outlined">account_box</span>
        Moderator Management
      </li>
      } @if (role) {
      <li class="logout-btn" (click)="logout()">
        <span class="material-symbols-outlined">logout</span>Logout
      </li>
      }
    </ul>
  </nav>
</div>

}
