<div
  class="campaign-card"
  [class.card-small]="size === 'small'"
  [class.card-large]="size === 'large'"
  [attr.data-disabled]="disabled ? 'true' : null"
  [attr.data-deleted]="disabled ? 'true' : null"
>
  <div class="card-clickable" (click)="onCardClick()">
    <div class="card-image">
      <img [src]="image" [alt]="title" />
    </div>

    <div class="card-content">
      <h3>{{ title }}</h3>
      <p class="description">{{ description }}</p>
    </div>
  </div>

  <div class="card-actions">
    @if (deleted) {
    <button
      class="delete-btn"
      type="button"
      (click)="onDeleteClick($event)"
      title="Delete candidate"
    >
      <span class="material-symbols-outlined">delete</span>
    </button>
    }
  </div>
</div>
