<nav class="navbar">
  <div class="navbar-left">
    <div class="logo"></div>
  </div>

  <div class="navbar-right">
    <ul class="nav-list">
      <li>Home</li>
      <li>Campaigns</li>
    </ul>
    <span class="user-name">{{ user.name }}</span>
    <div class="user-menu">
      <img
        [src]="user.image"
        alt="User"
        class="user-img"
        (click)="toggleDropdown()"
      />

      @if (dropdownOpen) {
      <div class="dropdown">
        <button type="button" (click)="goToProfile()">Profile</button>
        <button type="button" (click)="logout()">Logout</button>
      </div>
      }
    </div>
  </div>
</nav>
