<nav class="navbar">
  <div class="navbar-left">
    <div class="logo"></div>
  </div>

  <div class="navbar-right">
    <ul class="nav-list">
      <li>Home</li>
      <li>Campaigns</li>
    </ul>

    <div class="user-menu">
      <img
        [src]="user.photo || '/assets/admin.png'"
        alt="User"
        class="user-img"
        (click)="toggleDropdown()"
      />

      @if (dropdownOpen) {
      <div class="dropdown">
        <div class="dropdown-header">
          <img [src]="user.photo || '/assets/admin.png'" alt="User" class="dropdown-photo" />
          <span class="username">{{ user.username || 'Guest' }}</span>
        </div>
        <button type="button" (click)="logout()">Logout</button>
      </div>
      }
    </div>
  </div>
</nav>
