.register-page {
  display: flex;
  min-height: 100vh;
  background-color: var(--bg-200);
  //overriding component-specific styles through variables
  font-family: Onest;
  --colorNeutralBackground1: var(--bg-100);
  --colorNeutralStroke1: rgb(0, 0, 0, 0.15);
  --colorBrand90: var(--text-100);
  --colorNeutralStrokeAccessible: rgb(0, 0, 0, 0.15);
}

.auth-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-200);
  padding: 0rem 3rem;
  border-radius: 10px;

  h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
  }
}

.btn-group {
  display: flex;
  flex-direction: column;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.aesthetic-container {
  flex: 1;
  display: flex;
  padding: 0.6rem;

  .aesthetic {
    border-radius: 10px;
    width: 100%;
    background-color: var(--primary-100);
  }
}
