<div class="combobox-container fw-combobox">
  <div class="combobox-input fw-medium">
    @if (searchable) {
    <input
      [ngModel]="searchText"
      (ngModelChange)="onInputChange($event)"
      [placeholder]="selected.length ? '' : placeholder"
      (focus)="openDropdown()"
      [disabled]="disabled"
    />

    @if (selected.length && !searchText) {
    <span class="selected-preview">{{ displayPlaceholder }}</span>
    } } @else {
    <div
      class="non-searchable"
      (click)="toggleDropdown()"
      [class.disabled]="disabled"
    >
      {{ displayPlaceholder }}
    </div>
    }

    <span
      class="material-symbols-outlined arrow"
      (click)="toggleDropdown()"
      [class.disabled]="disabled"
    >
      {{ isOpen ? "keyboard_arrow_up" : "keyboard_arrow_down" }}
    </span>
  </div>

  <ul
    class="combobox-options fw-listbox"
    [class.open]="isOpen"
    [class.closed]="!isOpen"
  >
    @if (filteredOptions.length === 0) {
    <li class="no-result disabled">No result found</li>
    } @for (option of filteredOptions; let i = $index; track option) {
    <li
      #optionItem
      (click)="selectOption(option)"
      [class.disabled]="isDisabled(option)"
      [class.highlighted]="i === highlightedIndex"
      [class.selected]="isSelected(option)"
    >
      @if (multiple) {
      <input type="checkbox" [checked]="isSelected(option)" />
      }
      {{ option }}
    </li>
    }
  </ul>
</div>
